{% extends "index.html" %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Personal Account</h2>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">
                        Account Balance
                        <button id="addFundsBtn" class="btn btn-primary">Add balance</button>
                    </h5>

                    <div id="addFundsForm" style="display: none;">
                        <form action="/add_funds" method="post">
                            <div class="form-group">
                                <label for="amount">Amount</label>
                                <input type="number" name="amount" id="amount" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>

                    <p class="card-text">Current Balance: ${{ current_balance }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Yearly Expenses</h2>
            <canvas id="yearlyExpensesChart"></canvas>
        </div>
    </div>
</div>

<h2>Recent Transactions</h2>
<div class="table-responsive">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
                <th scope="col">Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ transaction.date.strftime('%Y-%m-%d') }}</td>
                <td>{{ transaction.description }}</td>
                <td>${{ transaction.amount }}</td>
                <td><a href="/details/{{ transaction.id }}" class="btn btn-info">Details</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('addFundsBtn').addEventListener('click', function() {
        var form = document.getElementById('addFundsForm');
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    });
})

    var monthlyTransactionsSum = {{ monthly_transactions_sum|default([])|tojson }};
    var ctx = document.getElementById('yearlyExpensesChart').getContext('2d');
    var yearlyExpensesChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: 'Monthly Transactions Sum',
                data: monthlyTransactionsSum,
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
    
{% endblock %}
